:root {
    --font-family: "Quicksand", sans-serif;
    --second-family: "Cabin", sans-serif;
}

.container {
    font-family: var(--font-family);  
}

.custum-sections-size {
    width: 1296px;
    margin: 0 auto;
    box-sizing: border-box;
}

.green-background-section {
    background-color: #dbf3ed;
}

/* header */

.header-wrapper {
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: space-between;
    gap: 112px;
}

.explore-menu {
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #000;
    text-decoration: none;
}

.explore {
    position: relative;
    display: inline-block;
}

.green-btn {
    border-radius: 4px;
    padding: 10px 12px;
    background: #0f8277;
    border: none;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.green-btn:hover {
    background: #004942;
}


.btn-explore::after{
    content: '';
    display: inline-block;
    background-image: url(../img/exp-arrow.svg);
    background-size: cover;
    width: 10px;
    height: 7px;
    margin-left: 8px;
    
}

.explore-dropdown {
    display: none;
    position: absolute;
    width: 384px;
    height: 558px;
    margin-top: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
    z-index: 1;
    padding: 16px 12px;
}


.explore-dropdown a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    text-decoration: none;
    display: block ;
    margin: 16px 0;
    transition: background-color 0.3s ease;
}

.explore-dropdown a:hover {
    background-color: #f1f1f1;
}

.explore-dropdown span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    display: block;
    margin-top: 40px;
}

.drop-line {
    height: 1px;
    flex: 1;
    background: #000;
    margin: 40px 0;
}

.explore:hover .explore-dropdown {
    display: block;
}


.search-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    padding: 0px 0px 0px 12px;
    width: 330px;
    height: 36px;
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #5c5c5c;
}

.search-btn {
    border: 1px solid #5c5c5c;
    height: 36px;
    width: 36px;
    background-color: #0f8277;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 104px;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.nav-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    text-decoration: none;
}

.nav-btn {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.def-btn {
    border-radius: 4px;
    padding: 10px 12px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #0f8277;
    border: none;
    cursor: pointer;
    border: 2px solid #0f8277;
    border-radius: 4px;
    background-color: transparent;
    transition: color border 0.3s ease;
}

.def-btn:hover {
    color: #004942;
    border-color: #004942;
}

.log-btn {
    border: none;
}

/* hero */

.hero {
    border-radius: 12px;
    height: 602px;
    background-color: #dbf3ed;
    position: relative;
    margin-bottom: 80px;
}

.hero img {
    width: 526px;
    height: 533px;
    position: absolute;
    top: 39px;
    right: 54px;
}

.hero-content {
    width: 512px;
    height: 248px;
    position: absolute;
    top: 170px;
    left: 110px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #000;
}

.hero-subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #000;
}

.hero-btn {
    display: flex;
    gap: 24px;
}

.hero-btn a {
    text-decoration: none;
}

/* academic training */

.academic-training {
    margin: 80px 0;
}

.at-titles{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.green-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #0f8277;
}

.main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #000;
}

.main-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

.section-cards {
    display: flex;
    justify-content: space-between;
}

.at-card {
    display: flex;
    flex-direction: column;

    border: 1px solid #dadada;
    border-radius: 8px;
    width: 416px;
    height: 480px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.at-card-img {   
   
}

.card-content {
    margin: 24px 16px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.danIT-card-logo1 {
    background-image: url(../img/danIT-card-logo1.svg);
    height: 20px;
    width: 72px;
}

.at-card-logo2 {
    background-image: url(../img/at-card-logo2.svg);
    width: 19px;
    height: 20px;
}

.at-card-logo3 {
    background-image: url(../img/at-card-logo3.svg);
    background-position: center;
    width: 47px;
    height: 20px;
}

.card-content h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    text-wrap: nowrap;
    
}

.card-content p {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.card-sticker {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 24px;
    left: 12px;
}

.card-sticker div {
    background: url(../img/at-card-sticker.svg);
    height: 20px;
    width: 20px;
}

.card-sticker p {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #0f8277;
}

/* courses and specializations */

.cs-titles{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.cs-cards {

}

.cs-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 306px;
    height: 480px;

    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.green-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #0f8277;
    text-decoration: none;
    transition: color 0.3s ease;
}

.green-link:hover {
    color: #004942;
}

.section-link {
    display: block; 
    text-align: center;
    margin: 40px auto ;
}

.section-link::after {
    content: '';
    display: inline-block;
    background-image: url(../img/cs-arrow.svg);
    background-position: center;
    height: 16px;
    width: 16px;
    margin-left: 18px;
}


/* featured-section */

.bold-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.featured-section { 
    margin: 80px 0;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.categories ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* cooperate */

.cooperate {
    height: 382px;
    display: flex;
    flex-direction: column;
}

.cooperate h2{
    display: inline-block;  
    margin: 80px auto 60px;
    width: 871px;
    text-align: center;
}

.coop-companies {
    display: flex;
    justify-content: space-between;
    height: 66px;
}

/* business-section */

.business-section {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    align-items: center;
}

.business-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 636px;
    height: 277px;
}

.business-content h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #000;
}

.business-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 588px;
    height: 412px;
    border-collapse: collapse;
}

.business-grid-item {
    padding: 10px;
    width: 196px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bababa; /* Рамка між елементами */
    border-width: 0 1px 1px 0; /* Тільки між елементами */
    box-sizing: border-box;
}

.business-grid-item:nth-child(3n) {
    border-right: none; /* Видалення правої рамки у третьому стовпці */
}

.business-grid-item:nth-last-child(-n+3) {
    border-bottom: none; /* Видалення нижньої рамки для останнього рядка */
}

/* price-section */
.price-section {
    padding: 80px 0;
    text-align: center;
}

.price-section h2 {
    margin-bottom: 40px;
}

.price-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.price-card {
    border: 1px solid #0f8277;
    border-radius: 24px;
    padding: 56px;
    width: 416px;
    height: 698px;
    background: #fdfdfd;
    
}

.price-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.price-card.highlighted {
    background: #0f8277;
    color: #fff;
}

.price-card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 304px;
    height: 286px;
    align-items: center;
}

.price-card-titles {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.price-card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: inherit;
    margin-bottom: 24px;
}

.card-price {
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.price-period {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: -12px;
}

.price-btn {
    display: inline-block;
    padding: 10px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    max-width: fit-content;
    transition: background-color 0.3s ease;
}

.price-btn-primary {
    background: #0f8277;
    color: #fff;
    
}

.price-btn:hover {
    background-color: #004942;
}

.price-btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}




.divider {
    margin: 48px 0;
    height: 2px;
    background: #0f8277;
    flex: 1;
}

.divider.highlighted {
    background-color: #fff;
}

.card-features {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.card-features li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
}

.card-features li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(../img/checkmark-def.svg) no-repeat;
    background-size: contain;
}

.price-card.highlighted .card-features li::before {
    background: url(../img/chechmark-white.svg) no-repeat;
    background-size: contain;
}

/* students-section */

.students-section {
    margin: 80px 0;
}

.students-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.student-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr );
    column-gap: 24px;
    row-gap: 23.5px;
    max-width: max-content;
}

.student-grid-item {
    width: 306px;
    height: 210px;
    overflow: hidden;
}



.student-grid-item img {
    width: 100%;
    height: 100%;
}

.student-grid-item.large {
    width: 636px;
    height: 445px;

    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

/* contact-section */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contact-section-back.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 565px;
    height: auto;
    border-radius: 24px;
    padding: 30px;
    background: #dbf3ed;
}

.contact-form h2 {
    text-align: center;
}

.contact-form label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    text-align: center;
    margin-bottom: 16px;
}

.form-input {
    border: 1px solid #0f8277;
    border-radius: 4px;
    padding: 12px;
    height: 48px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e; 
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.form-input.message {
    height: 104px;
    resize: none;    
}

.form-input::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e;   
}

.form-btn {
    border-radius: 4px;
    padding: 10px 12px;
    width: 196px;
    height: 42px;
    background: #0f8277;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #f6fdff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-btn:hover {
    background-color: #004942;
}

/* footer */

footer {
    margin: 64px 0;
    display: flex;
    justify-content: space-between;

}

.left-footer {
    width: 306px;
    height: 111px;
}

.left-footer h2 {
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}


.right-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    width: 306px;
    height: 111px;
}

.social-links {
    display: flex;
    gap: 24px;
}

.footer-link {
    height: 32px;
    width: 32px;
    display: inline-block;
    cursor: pointer;
}

.footer-link.inst {
    background-image: url(../img/link-inst.png);
}

.footer-link.fb {
    background-image: url(../img/link-fb.png);
}

.footer-link.in {
    background-image: url(../img/link-in.png);
}
